/* Capa */

section.capa {
    min-height: 45vh;
    background-size: auto;
    color: #000;
    background: url('../images/bg-mountains.jpg') #000;
    background-position: center;
    background-attachment: fixed;
    /*filter: brightness(60%);*/
}


section.capa div.bg-overlay {
    background: rgba(0, 0, 0, .4) !important;
}

.capa h1 {
    font-size: 48px;
}

.capa h2 {
    font-size: 22px;
}


.capa p {
    font-size: 18px;
}

.capa h1, h2, h3, p {
    color: #FFF;
}

img.profile {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    margin-top: 9vh;
}

.info {
    background-color: #ddd;
}

.info div {
    margin: 20px;
}

@media(max-width: 767px) {
    img.profile {
        margin-bottom: 5vh;
    }
}

@media(min-width: 768px) {
    img.profile {
        /*margin-right: 40px;*/
    }
}
