/* Capa */

section.capa {
    min-height: 45vh;
    background-size: auto;
    color: #000;
    background: url('../images/bg-mountains.jpg') #000;
    background-position: center;
    background-attachment: fixed;
    /*filter: brightness(60%);*/
}

.capa h1 {
    font-size: 48px;
    color: #fff;
}

.capa h2 {
    font-size: 22px;
    color: #fff;
}

.capa p {
    font-size: 18px;
    color: #fff;
}

img.profile {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    margin-top: 9vh;
}

.info {
    background-color: #ddd;
}

.info div {
    margin: 20px;
}

@media(max-width: 767px) {
    img.profile {
        margin-bottom: 5vh;
    }
}

@media(min-width: 768px) {
    img.profile {
        /*margin-right: 40px;*/
    }
}
